.done,
.inProgress,
.inComplete {
    @apply flex flex-col items-center whitespace-normal md:whitespace-pre;
}

.inProgress {
    animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inComplete {
    opacity: 0.3;
}

.inComplete .checkedIcon,
.inProgress .checkedIcon {
    display: none;
}
